body {
  background-color: #1e1e2f;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #9b5de5;
}

.blog-card {
  background: #282a36;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blog-card h2 {
  color: #f72585;
}

.blog-card p {
  color: #b2b2b2;
}

.blog-card small {
  color: #bbb;
}
